* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}
 body {
    height: 100vh;
    max-width: 100vw;
    margin: 0;
} 
button{
    height: 2%;
    width: 100%;
    font-weight: bolder;
    font-size: small;
    border: 1px solid red;
}
.container{
    height: 98%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position:fixed;
}
.container * {
    border: 1px solid red;
}